<div id="<%= dom_id post %>">
  <p class="my-5 text-4xl">
    <strong class="block font-medium mb-1">
      <%= post.title %>
    </strong>
  </p>

  <p class="my-5 text-xs italic text-gray-500">
    <strong class="font-medium mb-1">Created at </strong> <%= post.created_at %>
  </p>

  <p class="my-5">
    <%= post.content %>
  </p>

  <% if current_user %>
    <% if action_name != "show" %>
      <%= link_to "Show this post", post, class: "rounded-lg py-3 px-5 bg-gray-100 inline-block font-medium" %>
      <%= link_to 'Edit this post', edit_post_path(post), class: "rounded-lg py-3 ml-2 px-5 bg-gray-100 inline-block font-medium" %>
      <hr class="mt-6">
    <% end %>
  <% end %>
</div>
